<h1>All Topics</h1>

<table class='topics_list'>
  <tr>
    <th>Topic</th>
    <th></th>
    <th>Votes</th>
    <th></th>
  </tr>

<%= render :partial => "item_topic", :collection => @topics, :as => :topic%>
</table>

<br />
<div class='form_container link'>
  <div class='topic_form'>
    <%= render :partial => "form", :locals => {:topic => Topic.new} %>
  </div>
  <span class='topic_link'>
    <%= link_to 'New Topic', "#", :class => [:new_topic, :button_link] %>
  </span>
</div>
