h1 {
    font-size: 300%;
}

/* Comment/uncomment to turn on/off main content centering */
.content {
    /* Center the content on the page */
    width: 800px;
    margin: 0px auto;
    padding: 40px;
    
    /* Center background color */
    background: #ffffff;
    
    /* Advanced CSS3 shadowing on the box*/
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

/* Add some space below the header image */
.header {
    margin-bottom: 40px;
}

.header a.logo_link:link,
.header a.logo_link:visited,
.header a.logo_link:hover {
    text-decoration: none;
    background: transparent;
}
