<!DOCTYPE html>
<html>
<head>
  <title>Idealator</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag ["jquery-1.4.4", "application"] %>
  <%= csrf_meta_tag %>
  <% if protect_against_forgery? %>
   <script type="text/javascript" charset="utf-8">
    //<![CDATA[
     window._auth_token_name = "#{request_forgery_protection_token}";
     window._auth_token = "#{form_authenticity_token}";
    //]]>
   </script>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
